.header {
  height: 13rem; 
  padding: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  margin: 15px 0 !important;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8));
  background-size: cover;
  background-position: center center;
  font-weight: bold;
  padding-bottom: 8rem;    /* Footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
