@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@500&display=swap");

html,
body {
  /* width: 100%;
  height: 100%; */
  color: white;
  margin: 0;
  padding: 0;
}

.page-container {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  position: relative;
  min-height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.page-content {
  padding-top: 4rem;
}

.frame {
  background-size: cover;
  background-position: center center;
  font-weight: bold;
  padding: 0 32px 5rem 32px;
  margin-top: 4rem;
}

.title {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  letter-spacing: .5rem;
  line-height: 4rem;
}

.form {
  font-size: 16px;
  font-weight: 300;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.form-styling {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.2);
  font-size: 1.1rem;
}

label {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  padding-left: 15px;
  padding-bottom: 10px;
  color: rgba(255, 255, 255);
  display: block;
}

:focus {
  outline: none;
}

.form select{
  font-size: 1.1rem;
}

.form input:focus,
.form select:focus,
textarea:focus {
  background: rgba(255, 255, 255, 0.3);
  border: none;
  transition: background 0.5s ease;
  font-size: 1.1rem;
}

.form select {
  /* color: rgba(35, 0, 18, 0.61); */
}

.form input::placeholder {
  color: rgba(35, 0, 18, 0.61);
}

.btn-animate {
  margin-top: 20px;
  width: 100%;
  height: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 60px;
  border: none;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(16, 89, 255, 1);
}

button:focus {
  outline: 0;
}

.btn-animate:hover {
  cursor: pointer;
  background-color: #0f4fe6;
  transition: background-color;
}

.footer {
  /* padding-top: 15px; */
  bottom: 0;
  width: 100%;
}

.footer a i {
  padding: 0 8px;
  font-size: 1.5rem;
}
