<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='main.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <title>MPG Score Prediction</title>
  </head>
  <body>
    <!-- Page Content along with Footer -->
    <div class="page-container">
      <!-- Page Content -->
      <div class="header bg-dark">
        <div class="text-white text-center py-4 px-4">
          <div>
            <h1 class="h1-responsive pt-3 mb-5 font-bold">
              <strong
                ><a href="/" class="text-white" style="text-decoration: none;"
                  >MPG Score Prediction</a
                ></strong
              >
            </h1>
            <p class="mx-5 mb-5">
              Predict the MPG Score of your with an accuracy of 91%
            </p>
          </div>
        </div>
      </div>
      <h2 class="text-center">{{result}}</h2>
      <!-- Form -->
      <div class="form-content bg-warning-300 content-wrap">
        <div class="container">
          <br />
          <form method="POST" action="/predict">
            <div class="row">
              <div class="col form-group">
                <label for="cylinders"
                  >Number of cylinders in your car engine:</label
                >
                <input
                  type="number"
                  step="any"
                  class="form-control"
                  id="cylinders"
                  name="cylinders"
                  value="{{json_data.cylinders}}"
                  required
                />
              </div>
              <div class="col form-group">
                <label for="displacement"
                  >How much is the displacement for your car?</label
                >
                <input
                  type="number"
                  step="any"
                  class="form-control"
                  id="displacement"
                  name="displacement"
                  value="{{json_data.displacement}}"
                  required
                />
              </div>
            </div>
            <div class="row">
              <div class="col form-group">
                <label for="horsepower">Horsepower of your car engine:</label>
                <input
                  type="number"
                  step="any"
                  class="form-control"
                  id="horsepower"
                  name="horsepower"
                  value="{{json_data.horsepower}}"
                  required
                />
              </div>
              <div class="col form-group">
                <label for="weight">How much is the weight of your car?</label>
                <input
                  type="number"
                  step="any"
                  class="form-control"
                  id="weight"
                  name="weight"
                  value="{{json_data.weight}}"
                  required
                />
              </div>
            </div>
            <div class="row">
              <div class="col form-group">
                <label for="acceleration"
                  >What is the acceleration of your car engine?</label
                >
                <input
                  type="number"
                  step="any"
                  class="form-control"
                  id="acceleration"
                  name="acceleration"
                  value="{{json_data.acceleration}}"
                  required
                />
              </div>
              <div class="col form-group">
                <label for="model_year"
                  >What is the model year of your car?</label
                >
                <input
                  type="number"
                  step="any"
                  class="form-control"
                  id="model_year"
                  name="model_year"
                  value="{{json_data['model year']}}"
                  required
                />
              </div>
            </div>
            <div class="row">
              <div class="col form-group">
                <label for="origin"
                  >Wntwe the origin of your car.</label
                >
                <input
                  type="number"
                  step="any"
                  class="form-control"
                  id="origin"
                  name="origin"
                  value="{{json_data.origin}}"
                  required
                />
              </div>
              <div class="col"></div>
            </div>
            <br />
            <button type="submit" class="btn btn-info btn-block">
              Predict
            </button>
          </form>
          <br />
        </div>
      </div>

      <!-- Footer -->
      <footer class="footer font-small bg-dark">
        <br />
        <div class="contact text-center text-white">
          <a target="_blank" href="https://github.com/rekib0023/Machine-Learning-Deployment/tree/MPG-Score"
            ><i class="fa fa-github fa-lg contact-icon"></i
          ></a>
          <a target="_blank" href="https://www.linkedin.com/in/rekib0023/"
            ><i class="fa fa-linkedin fa-lg contact-icon"></i
          ></a>
        </div>

        <!-- Copyright -->
        <div class="footer-copyright text-white text-center py-3">
          <p class="footer-description">Made with ❤️ by Rekib Ahmed.</p>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </div>
  </body>
</html>
